.App {
  height: 500px;

  display: flex;
  justify-content: space-around;
}
.logo {
  width: 150px;
  height: 60px;
  padding: 20px;
  margin-right: 80px;
}
.header {
  color: #ffb069;
  font-weight: 700;
  font-size: x-large;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 80px;
}
.navlist {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;  */
  width: 270px;
  border-right: 3px solid rgb(212, 210, 210);
}
.navlist p {
  display: flex;
  align-items: center;
  padding: 25px;
  height: 5px;
  width: 220px;
  font-weight: bold;
  color: rgb(102, 100, 100);
}
.navlist p:hover {
  background-color: #ffa052;

  color: white;
  border-right: solid rgb(156, 155, 155) 5px;
}

.profile {
  display: flex;
  justify-content: space-evenly;
}

.bold {
  font-weight: bold;
}

.creditScore {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  margin-top: 30px;
}
hr {
  margin: 60px 30px;
}

.basicDetail {
  width: 72%;
  height: 100px;
  background: #ffa052;
  border-radius: 20px;
  color: white;
  padding-left: 30px;
  font-size: 25px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 325px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: inline-block;
  cursor: pointer;
  color: rgb(102, 100, 100);
  background: #eee;
  padding: 20px 60px;
  border-radius: 8px;
  font-weight: bold;
  font-size: large;
  margin: 30px 50px 30px 100px;
}

.upload {
  background: #359a21;
  color: white;
  padding: 15px 40px;
  border-radius: 30px;
  border: none;
  font-size: medium;
}

.documents {
  color: #ffa052;
  font-weight: bold;
  margin-left: 40px;
  margin-bottom: 100px;
  font-size:larger;
}

.document-item {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 10px 30px;
  border-radius: 10px;
  margin-top: 30px;
}
.LoansText , .loan_appText , .collection p {
font-weight: bold;
font-size: 15px;
color: rgb(102, 100, 100);
} 
button{
  border: none;
}